h2{
    color: blue;
    font-size: 25px;
}

div h2{
    color: blue;
}

h3{
    color: red;
    font-size: 25px;
}

div h3{
    color: red;
}

section{
    display: flex;
    align-items: center;
    gap: 50px;

    width: 800px;
    height: 500px;
    padding: 20px;
}