.green-underline{
    color: green;
}

.red-strong{
    color: red;
}

.destroyer{
    font-size: 30px;

}

.blue{
    color: blue;
}

.red-underline{
    color: red;
}

.underover{
    text-decoration: underline overline;
}